.opiner-me-rating {
    margin-bottom: 20px;
}

.opiner-me-form select,
.opiner-me-form input,
.opiner-me-form textarea,
.opiner-me-form button,
a:link.opiner-me-load-more {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.opiner-me-form label,
.opiner-me-list {
    /* font-size: 22px; */
}

.opiner-me-form textarea {
    width: 100%;
    max-width: 640px;
    height: 200px;
    resize: vertical;
}

.opiner-me-form button,
a:link.opiner-me-load-more {
    padding: 5px 10px;
    border: 1px solid #707070;
    background: linear-gradient(to bottom, #e9e9e9, #d7d7d7) !important;
    color: #000 !important;
    font-size: 16px !important;
    font-weight: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
    cursor: pointer;
}

.opiner-me-form button:hover,
a:hover.opiner-me-load-more {
    background: linear-gradient(to top, #e9e9e9, #d7d7d7) !important;
}

.opiner-me-list {
    margin: 20px 0;
}

.opiner-me-list small {
    /* font-size: 16px; */
}

.opiner-me-opinion {
    padding: 10px 0 8px 0;
    border-bottom: 1px solid #ddd;
}

.opiner-me-stars {
    color: gold;
    font-size: 20px;
}

.opiner-me-rating-text {
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.opiner-me-message,
.opiner-me-success,
.opiner-me-error {
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #f1f1f1;
    /* font-size: 22px; */
}

.opiner-me-success {
    border: 1px solid #c3e6cb;
    background: #d4edda;
    color: #155724;
}

.opiner-me-error {
    border: 1px solid #f5c6cb;
    background: #f8d7da;
    color: #721c24;
}
